@font-face {
  font-family: ElMessiri;
  font-display: swap;
  src: url("../fonts/ElMessiri-Bold.woff2") format("woff2"), url("../fonts/ElMessiri-Bold.woff1") format("woff1");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff1") format("woff1");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff1") format("woff1");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff1") format("woff1");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaT;
  font-display: swap;
  src: url("../fonts/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNovaT-Thin.woff1") format("woff1");
  font-weight: 100;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #162831;
}

a {
  text-decoration: none;
}

.txt {
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  max-width: 1296px;
  width: 100%;
  margin: auto;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #018ABE;
  border: none;
  border-radius: 3px;
}

.button__header {
  color: white;
  padding: 10px 16px;
  font-family: 'ProximaNova';
}

.button__white {
  background-color: white;
}

.button__card {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  padding: 9px 15px;
  color: #018ABE;
}

.tittle {
  font-family: 'ElMessiri';
  color: white;
}

.header {
  margin-top: 30px;
  margin-bottom: 50px;
}

.logo__img {
  height: 60px;
  width: 60px;
}

.nav {
  max-width: 655px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  font-family: 'ProximaNova';
  color: white;
  font-size: 14px;
}

.promo {
  margin-bottom: 150px;
}

.promo__tittle {
  margin-top: 40px;
  margin-bottom: 210px;
  max-width: 587px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  text-align: center;
}

.promo__tittle__little {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  margin-top: 136px;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgba(152, 201, 220, 0.5), rgba(152, 201, 220, 0.5)), url("../img/unsplash_S-llxYh3GzI (1).png");
  border: none;
  border-radius: 3px;
}

.services__tittle__little {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
}

.services__all {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

.services__col_two {
  max-width: 416px;
  width: 100%;
}

.services__txt {
  max-width: 336px;
  width: 100%;
  font-family: 'ElMessiri';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

.tired__back {
  background: linear-gradient(to top, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url("../img/unsplash_TnOyyEtrKd0 (2).png") no-repeat center;
  padding: 194px 40px 30px 40px;
  border: none;
  border-radius: 10px;
}

.tired__back_two {
  padding-top: 160px;
}

.tired__mar {
  margin-top: 24px;
}

.tired__alone {
  background: linear-gradient(to top, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url("../img/unsplash_TnOyyEtrKd0.png") no-repeat center;
  border: none;
  border-radius: 10px;
  padding: 456px 108px 50px 50px;
}

.feedback__title {
  margin-bottom: 100px;
  font-family: 'ElMessiri';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
}

.feedback__container {
  max-width: 1736px;
  width: 100%;
  margin: auto;
}

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.feedback-list__item {
  padding: 50px 60px 56px;
  background: #018ABE;
  border: none;
  border-radius: 10px;
}

.feedback-list__item--unchecked {
  padding: 40px 45px 71px;
  background: #018ABE;
  border: none;
  border-radius: 10px;
}

.feedback-item {
  max-width: 516px;
  width: 100%;
}

.feedback-item__title {
  margin-bottom: 20px;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.feedback-item__desc {
  max-width: 516px;
  width: 100%;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.feedback-item__desc__two {
  margin-bottom: 20px;
}

.feedback-item--unchecked__title {
  margin-bottom: 15px;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}

.feedback-item--unchecked__desc {
  max-width: 410px;
  width: 100%;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
}

.feedback-item--unchecked__desc__two {
  margin-bottom: 15px;
}

.feedback-slider {
  display: flex;
  justify-content: center;
}

.feedback-slider__item {
  background: white;
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  opacity: 0.4;
  margin-bottom: 9.375rem;
  margin-right: 1.25rem;
}

.feedback-slider__item:last-of-type {
  margin-right: 0;
}

.feedback-slider__item--checked {
  opacity: 1;
}

.about__container {
  max-width: 1076px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 150px;
}

.about__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__div:last-child {
  margin-top: 100px;
}

.about__div__tittle {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 30px;
}

.about__div__txt {
  max-width: 466px;
  width: 100%;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}

.about__div__txt__two {
  margin-bottom: 30px;
}

.about__tittle {
  margin-bottom: 100px;
  text-align: center;
  font-family: 'ElMessiri';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
}

.price {
  margin-bottom: 150px;
}

.price__container {
  max-width: 1076px;
  width: 100%;
  margin: auto;
}

.price__inside {
  display: flex;
  justify-content: space-between;
}

.price__tittle {
  font-family: 'ElMessiri';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 100px;
}

.price__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 416px;
  width: 100%;
}

.price__txt-inside {
  display: flex;
  justify-content: space-between;
}

.price__txt--txt {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.price__span {
  color: white;
  font-family: 'ElMessiri';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

.price__img {
  display: flex;
  flex-direction: column;
}

.price__img-txt {
  margin: 30px 0 0 0;
  color: white;
  font-family: 'ElMessiri';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
}

.price__margin {
  margin-bottom: 31px;
}

.contacts__container {
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 90px;
}

.contacts__map__img {
  position: relative;
}

.contacts__loc {
  position: absolute;
  top: 4480px;
  left: 637px;
}

.contacts__loc:last-child {
  position: absolute;
  top: 4786px;
  left: 682px;
}

.contacts__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 392px;
  width: 100%;
}

.contacts__card {
  padding: 35px 40px;
  background-color: #018ABE;
  border-radius: 10px;
  border: none;
}

.contacts__card-tittle {
  font-family: 'ElMessiri';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 21px;
}

.contacts__card-txt {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  margin-bottom: 21px;
}

.contacts__card-txt::before {
  content: '';
  position: relative;
  background: url("../img/whte/carbon_location-filled.svg") no-repeat center left;
  padding-right: 40px;
}

.contacts__card-txt:nth-child(2)::before {
  content: '';
  position: relative;
  background: url("../img/whte/Spb_metro_logo 1.svg") no-repeat center left;
  padding-right: 40px;
}

.contacts__card-txt:last-child {
  margin-bottom: 30px;
}

.contacts__card-txt:last-child::before {
  content: '';
  position: relative;
  background: url("../img/whte/bi_calendar-week-fill.svg") no-repeat center left;
  padding-right: 40px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__txt {
  color: white;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

.footer__did {
  color: white;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
}
/*# sourceMappingURL=style.css.map */