
.header
    margin-top: 30px
    margin-bottom: 50px
    &__inside
        // margin-left: 312px
    &__border
        padding-bottom: 41px
        border-bottom: 1px solid #FFFFFF
.logo
    &__img
        height: 60px
        width: 60px
.nav
    max-width: 655px
    width: 100%
    display: flex
    justify-content: space-between
    &__item
        font-family: 'ProximaNova'
        color: white
        font-size: 14px


    
    