.services
    &__tittle
        &__little
            font-style: normal
            font-weight: 700
            font-size: 42px
            line-height: 140%
            text-align: center
    &__all
        margin-top: 100px
        margin-bottom: 150px
        display: flex
        justify-content: space-between

    // &__background
    //     background: url('../img/unsplash_TnOyyEtrKd0.png') no-repeat center
    //     max-width: 416px
    //     width: 100px
    &__col
        &_two
            max-width: 416px
            width: 100%    
        &-inside
            // background: linear-gradient(to top, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url('../img/unsplash_TnOyyEtrKd0.png') no-repeat center
            // border: none
            // border-radius: 10px
            // max-width: 416px
    //     width: 100px
    &__txt
        max-width: 336px
        width: 100%
        font-family: 'ElMessiri'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 140%

            
       
        // &_three
        //     padding-top: 160px 
        // &_four
        //     padding-top: 160px 
.tired
    &__back
        background: linear-gradient(to top, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url('../img/unsplash_TnOyyEtrKd0 (2).png') no-repeat center
        padding: 194px 40px 30px 40px
        border: none
        border-radius: 10px
        
        &_two
            padding-top: 160px

    &__mar
        margin-top: 24px
    &__alone
        background: linear-gradient(to top, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url('../img/unsplash_TnOyyEtrKd0.png') no-repeat center
        border: none
        border-radius: 10px
        padding: 456px 108px 50px 50px


                